<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Entreprises</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="actions">
                    <button type="button" class="btn btn-default" ng-click="create()">
                        Ajouter une entreprise
                    </button>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>

                        <th>ID</th>
                        <th class="col-md-2">SIRET</th>
                        <th class="col-md-3">Nom</th>
                        <th class="col-md-3">Adresse</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                    </thead>
                    <body>
                    <tr ng-repeat="company in items" class="animate-repeat">


                        <td>{{ company.id }}</td>

                        <td>
                            <span e-form="rowform" e-name="SIRET"
                                  editable-text="company.siret">{{ company.siret }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="name"
                                  editable-text="company.name">{{ company.name }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="address"
                                  editable-text="company.address">{{ company.address }}</span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                  onaftersave="saveOrUpdate(company)" class="form-buttons form-inline"
                                  shown="inserted == company">

                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    Valider
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-warning">
                                    Annuler
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()">Modifier</button>
                                <button class="btn btn-danger" ng-click="delete(company)">Supprimer</button>
                            </div>
                        </td>
                    </tr>
                    </body>
                </table>
            </div>
        </div>
    </div>
</div>