<div class="col-xs-12" xmlns="http://www.w3.org/1999/html">
    <a href="/">< Retour</a>
</div>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Profil</h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="dashboard-widget-content">
                <form editable-form name="editableForm" onaftersave="saveUser()">


                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">N° d'étudiant:</span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.ine" e-name="name"
                              e-required>{{ me.ine }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Nom: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.firstName" e-name="name" e-required>{{ me.firstName }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Prénom: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.lastName" e-name="name" e-required>{{ me.lastName }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Username: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.username" e-name="name" e-required>{{ me.username }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Date de naissance: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.birthDate" e-name="name" e-required>{{ me.birthDate }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Sexe: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.sex" e-name="name" e-required>{{ me.sex }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Adresse: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.address" e-name="name" e-required>{{ me.address }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Courrier électronique: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.mail" e-name="name" e-required>{{ me.mail }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Numéro de téléphone: </span>
                        <span class="col-md-6 col-sm-6 col-xs-12" editable-text="me.tel" e-name="name" e-required>{{ me.tel }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 col-sm-3 col-xs-12 text-right">Rôle</span>
                        <span class="col-md-6 col-sm-6 col-xs-12">{{ me.role.name }}</span>
                    </div>

                    <div class="buttons">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="editableForm.$show()"
                                ng-show="!editableForm.$visible">
                            Modifier
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                            Sauvegarder
                            </button>
                            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting"
                                    ng-click="editableForm.$cancel()">
                                Annuler
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
