<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ajouter un stage</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps anchor">
                    <li>
                        <a href="#step-1" class="selected" isdone="1" rel="1">
                            <span class="step_no">1</span>
                            <span class="step_descr">Etape 1<br><small>Informations sur le stage</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="disabled" isdone="0" rel="2">
                            <span class="step_no">2</span>
                            <span class="step_descr">Etape 2<br><small>Informations sur l'entreprise</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="disabled" isdone="0" rel="3">
                            <span class="step_no">3</span>
                            <span class="step_descr">Etape 3<br><small>Informations sur le tuteur</small></span>
                        </a>
                    </li>
                </ul>
                <div class="stepContainer">
                    <form class="form-horizontal form-label-left">
                        <div>
                            <div id="step-1" class="content" style="display: block;">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mission">Mission
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea id="mission" class="form-control col-md-7 col-xs-12" name="mission" ng-model="inserted.mission" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address_internship">Adresse
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="address_internship" name="address_internship" ng-model="inserted.address" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gratification">Gratification
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="number" id="gratification" name="gratification" ng-model="inserted.gratification" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startDate">Date de début
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="date" id="startDate" name="startDate" ng-model="inserted.startDate" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="endDate">Date de fin
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="date" id="endDate" name="endDate" ng-model="inserted.endDate" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="numberOfWeeks">Nombre de semaines
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="numberOfWeeks" type="number" name="numberOfWeeks" ng-model="inserted.numberOfWeeks" class="optional form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="numberOfDays" class="control-label col-md-3">Nombre de jours</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="numberOfDays" type="number" name="numberOfDays" ng-model="inserted.numberOfDays" class="form-control col-md-7 col-xs-12" required="required">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="levelOfStudy" class="control-label col-md-3 col-sm-3 col-xs-12">Niveau d'études</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="levelOfStudy" type="text" name="levelOfStudy" ng-model="inserted.levelOfStudy" class="form-control col-md-7 col-xs-12" required="required">
                                    </div>
                                </div>

                            </div>
                            <div id="step-2" class="content" style="display: none;">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SIRET">SIRET</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="SIRET" name="SIRET" ng-model="inserted.company.siret" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name_company">Nom de l'entreprise</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="name_company" name="name_company" ng-model="inserted.company.name" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address_company">Adresse</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="address_company" name="address_company" ng-model="inserted.company.address" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                            <div id="step-3" class="content" style="display: none;">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="registrationNumber">Numéro d'enregistrement</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="registrationNumber" name="registrationNumber" ng-model="inserted.tutor.registrationNumber" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Nom</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="lastName" name="lastName" ng-model="inserted.tutor.lastName" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">Prénom</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="firstName" name="firstName" ng-model="inserted.tutor.firstName" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mail">Email</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" id="mail" name="mail" ng-model="inserted.tutor.mail" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Téléphone</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="tel" id="phone" name="phone" ng-model="inserted.tutor.phone" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="function">Fonction</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="function" name="function" ng-model="inserted.tutor.function" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#wizard').smartWizard({
            labelNext         : 'Suivant',
            labelPrevious     : 'Précédent',
            labelFinish       : 'Terminer',
            enableFinishButton: true
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default').attr('ng-click', 'create()');

        var buttonFinish = $('.buttonFinish').first().clone();
        $('.buttonFinish').remove();

        angular.element(document).injector().invoke(function ($compile) {
            $('.buttonNext').before($compile(buttonFinish)(angular.element(document.body).scope()));
        });
    });
</script>