<!doctype html>
<html ng-app="library">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title ng-bind="title"></title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="css/target/main.css"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Int-management</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile" ng-show="authenticated">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ user.firstName + " " + user.lastName}}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li-active>
                                <a href="/"><i class="fa fa-home"></i> Accueil</a>
                            </li-active>
                            <li-active ng-show="authenticated" ng-if="hasRoles('USER')">
                                <a href="/internships"><i class="fa fa-list"></i> Stages</a>
                            </li-active>
                            <li-active ng-show="authenticated">
                                <a href="/profile"><i class="fa fa-user"></i> Profil</a>
                            </li-active>

                            <li ng-if="hasRoles('ADMIN')" sliding-item state="closed"
                                ng-show="authenticated">
                                <a><i class="fa fa-desktop"></i> Administration <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li-active ng-if="hasRoles('ADMIN')">
                                        <a href="/admin/users">Étudiants</a>
                                    </li-active>
                                    <li-active ng-if="hasRoles('ADMIN')">
                                        <a href="/admin/internships">Stages</a>
                                    </li-active>
                                    <li-active ng-if="hasRoles('ADMIN')">
                                        <a href="/admin/companies">Entreprises</a>
                                    </li-active>
                                    <li-active ng-if="hasRoles('ADMIN')">
                                        <a href="/admin/teachers">Enseignants</a>
                                    </li-active>
                                    <li-active ng-if="hasRoles('ADMIN')">
                                        <a href="/admin/mails">Envoi mails</a>
                                    </li-active>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle" toggle-menu>
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="authenticated">
                            <a href="/login" target="_top">Se connecter</a>
                        </li>
                        <li ng-hide="authenticated">
                            <a href="http://localhost:9999/uaa/register?redirect_uri=http://localhost:8000"
                               target="_top">Register</a>
                        </li>
                        <li class="" ng-show="authenticated">
                            <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/img.jpg" alt="">{{ user.firstName}} {{ user.lastName }} <span
                                    class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/profile"> Profil</a></li>
                                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Se
                                    déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div ng-view></div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <!--Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>-->
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script src="js/target/vendors-debug.js"></script>
<script src="js/target/main-debug.js"></script>
</body>
</html>