<div class="row">
    <div class="col-xs-6">
        <a href="/internships">< Retour aux stages</a>
    </div>
    <div class="col-xs-6 text-right">
        <button class="btn btn-success" ng-click="pdfExport()"><i class="fa fa-download"></i></button>
    </div>
</div>
<div class="row" id="exportable">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur le stage n° {{ internship.number }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Mission</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.mission }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Adresse</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.address }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Gratification</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.gratification }} €</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Date de début</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.startDate | date }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Date de fin</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.endDate | date }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Nombre de semaines</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.numberOfWeeks }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Nombre de jours</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.numberOfDays }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Niveau d'études</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.levelOfStudy }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur l'entreprise</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">SIRET</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.company.siret }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Nom de l'entreprise</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.company.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Adresse</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.company.address }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur le tuteur de stage</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Numéro d'enregistrement</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.registrationNumber }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Nom</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.lastName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Prénom</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.firstName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Email</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.mail }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Téléphone</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.phone }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Fonction</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.tutor.function }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur le professeur</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows" ng-if="internship.teacher">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Numéro d'enregistrement</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.teacher.registrationNumber }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Nom</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.teacher.lastName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Prénom</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.teacher.firstName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Email</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.teacher.mail }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 text-right">Fonction</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">{{ internship.teacher.disciplined }}</div>
                    </div>
                </div>
                <div ng-if="!internship.teacher">
                    Aucun professeur ne vous a encore été affecté.
                </div>
            </div>
        </div>
    </div>
</div>
