<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestion des livres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="actions">
                    <button type="button" class="btn btn-default" ng-click="create()">
                        Ajouter un livre
                    </button>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Titre</th>
                        <th>ISBN</th>
                        <th>Auteur</th>
                        <th>Editeur</th>
                        <th>Nombre de pages</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in items" class="animate-repeat">
                        <td>{{ book.id }}</td>
                        <td>
                            <span e-form="rowform" e-name="title" editable-text="book.title">{{ book.title }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="isbn" editable-number="book.isbn">{{ book.isbn }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="author" editable-text="book.author">{{ book.author }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="publisher" editable-text="book.publisher">{{ book.publisher }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="pageCount" editable-number="book.pageCount">{{ book.pageCount }}</span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                  onaftersave="saveOrUpdate(book)" class="form-buttons form-inline"
                                  shown="inserted == book">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    Valider
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-warning">
                                    Annuler
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()">Modifier</button>
                                <button class="btn btn-danger" ng-click="delete(book)">Supprimer</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>