<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Stages</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <table class="table table-striped table-bordered" ng-if="items.length > 0">
                    <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Tuteur entreprise</th>
                        <th>Encadrant</th>
                        <th>Etudiant</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="internship in items" class="animate-repeat">
                        <td>{{ internship.number || 'Numéro non encore défini' }}</td>
                        <td>{{ internship.startDate | date }}</td>
                        <td>{{ internship.endDate | date }}</td>
                        <td>{{ internship.tutor.firstName + " " + internship.tutor.lastName }}</td>
                        <td>{{ internship.teacher ? internship.teacher.firstName + " " + internship.teacher.lastName : 'Encadrant non encore défini' }}</td>
                        <td>{{ internship.student.firstName + " " + internship.student.lastName }}</td>
                        <td style="white-space: nowrap">
                            <div class="buttons">
                                <a ng-href="/admin/internships/{{ internship.id }}">
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="items.length == 0">
                    Aucun stage n'a encore été enregistré.
                </div>
            </div>
        </div>
    </div>
</div>