<h1>Gestion des stages</h1>

<div ng-hide="authenticated">
    Pour profiter des fonctionnalités de l'applications, veuillez vous <a href="/login" target="_top">connecter</a>.
</div>

<div ng-show="authenticated">
    Naviguez sur le site pour profiter des fonctionnalités.
</div>