<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <a href="/internships">< Retour aux stages</a>
</div>
<form ng-submit="update()" class="form-horizontal form-label-left">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Modification du stage n° {{ internship.number }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="item form-group">
                        <label for="mission" class="control-label col-md-3 col-sm-3 col-xs-12">Mission</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control col-md-7 col-xs-12" type="text" id="mission" name="mission" ng-model="internship.mission"></textarea>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Adresse</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="address" name="address" ng-model="internship.address">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="gratification" class="control-label col-md-3 col-sm-3 col-xs-12">Gratification</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="number" id="gratification" name="gratification" ng-model="internship.gratification">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="startDate" class="control-label col-md-3 col-sm-3 col-xs-12">Date de début</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="date" id="startDate" name="startDate" ng-model="internship.startDate">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="endDate" class="control-label col-md-3 col-sm-3 col-xs-12">Date de fin</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="date" id="endDate" name="endDate" ng-model="internship.endDate">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="numberOfWeeks" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre de semaines</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="number" id="numberOfWeeks" name="numberOfWeeks" ng-model="internship.numberOfWeeks">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="numberOfDays" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre de jours</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="number" id="numberOfDays" name="numberOfDays" ng-model="internship.numberOfDays">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="levelOfStudy" class="control-label col-md-3 col-sm-3 col-xs-12">Niveau d'études</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="levelOfStudy" name="levelOfStudy" ng-model="internship.levelOfStudy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur l'entreprise</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="item form-group">
                        <label for="company_siret" class="control-label col-md-3 col-sm-3 col-xs-12">SIRET</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="company_siret" name="company_siret" ng-model="internship.company.siret">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="company_name" class="control-label col-md-3 col-sm-3 col-xs-12">Nom de l'entreprise</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="company_name" name="company_name" ng-model="internship.company.name">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="company_address" class="control-label col-md-3 col-sm-3 col-xs-12">Adresse</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="company_address" name="company_address" ng-model="internship.company.address">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informations sur le tuteur de stage</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="rows">
                    <div class="item form-group">
                        <label for="tutor_registrationNumber" class="control-label col-md-3 col-sm-3 col-xs-12">Numéro d'enregistrement</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="tutor_registrationNumber" name="tutor_registrationNumber" ng-model="internship.tutor.registrationNumber">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="tutor_lastName" class="control-label col-md-3 col-sm-3 col-xs-12">Nom</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="tutor_lastName" name="tutor_lastName" ng-model="internship.tutor.lastName">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="tutor_firstName" class="control-label col-md-3 col-sm-3 col-xs-12">Prénom</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="tutor_firstName" name="tutor_firstName" ng-model="internship.tutor.firstName">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="tutor_mail" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="email" id="tutor_mail" name="tutor_mail" ng-model="internship.tutor.mail">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="tutor_phone" class="control-label col-md-3 col-sm-3 col-xs-12">Téléphone</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="tel" id="tutor_phone" name="tutor_phone" ng-model="internship.tutor.phone">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="tutor_function" class="control-label col-md-3 col-sm-3 col-xs-12">Fonction</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="form-control col-md-7 col-xs-12" type="text" id="tutor_function" name="tutor_function" ng-model="internship.tutor.function">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </div>
</form>