<flash-message duration="5000" show-close="true"></flash-message>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Gestion des étudiants</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="actions">
                    <button type="button" class="btn btn-default" ng-click="create()">
                        Ajouter un étudiant
                    </button>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>

                        <th class="col-md-2">N° d'étudiant</th>
                        <th class="col-md-2">Prénom</th>
                        <th class="col-md-2">Nom</th>
                        <th class="col-md-2">Date de naissance</th>
                        <th class="col-md-2">Sexe</th>
                        <th class="col-md-2">Adresse</th>
                        <th class="col-md-2">Mail</th>
                        <th class="col-md-2">Tél</th>
                        <th class="col-md-2">Username</th>
                        <th class="col-md-1">Mot de passe</th>
                        <th class="col-md-1">Actions</th>
                    </tr>
                    </thead>
                    <body>
                    <tr ng-repeat="user in items" class="animate-repeat" ng-init="refreshRoles(user)">

                        <td>
                            <span e-form="rowform" e-name="ine" editable-text="user.ine">{{ user.ine }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="firstName" editable-text="user.firstName">{{ user.firstName }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="lastName"
                                  editable-text="user.lastName">{{ user.lastName }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="birthDate" editable-text="user.birthDate">{{ user.birthDate }}</span>
                        </td>
                        <td>


                            <span e-form="rowform" e-name="sex" editable-text="user.sex">{{ user.sex }}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="adress" editable-text="user.adress">{{ user.adress }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="mail" editable-text="user.mail">{{ user.mail }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="tel" editable-text="user.tel">{{ user.tel }}</span>
                        </td>
                        <td>
                            <span e-form="rowform" e-name="username"
                                  editable-text="user.username" e-ng-disabled="updating">{{ user.username}}</span>
                        </td>

                        <td>
                            <span e-form="rowform" e-name="password" editable-password="user.password"
                                  e-ng-disabled="updating">********</span>
                        </td>

                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible" oncancel="cancel()"
                                  onaftersave="saveOrUpdate(user);
                                  updating=false"
                                  ng-init="updating=false"
                                  class="form-buttons form-inline"
                                  shown="inserted == user">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    Valider
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-warning">
                                    Annuler
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show();updating=true">
                                    Modifier
                                </button>
                                <button class="btn btn-danger" ng-click="delete(user)">Supprimer</button>
                            </div>
                        </td>
                    </tr>
                    </body>
                </table>
            </div>
        </div>
    </div>
</div>